# Logs
logs
data
import
data-backup
ssl

# Local overrides
docker-compose.override.yml

# Environment variables
.env

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store

# OS files
Thumbs.db
.DS_Store
